.Track {
    display:inline-block;

    .interface {
        box-sizing:border-box;
    }

    .path {
        position:relative;
    }

    .rail {
        position:relative;
        background-color:#ccc;
        border-radius:.2em;
        overflow:hidden;
    }

    .mark {
        position:relative;
        background-color:#666;
    }

    &.blur {
        .mark {
            transition: width .5s, height .5s;
        }
    }

    &.horizontal {
        width:10em;

        .interface, .path, .rail {
            width:100%;
        }

        .interface {
            padding: .5em 1em;
        }

        .rail {
            height:.5em;
        }

        .mark {
            height:100%;
            width:0;
        }

        &.upend .mark {
            left:0;
        }

        &.downend .mark {
            right:0;
        }
    }

    &.vertical {
        height:10em;

        .interface, .path, .rail {
            height:100%;
        }

        .interface {
            padding: 1em .5em;
        }

        .rail {
            width:.5em;
        }

        .mark {
            width:100%;
            height:0;
        }

        &.upend .mark {
            top:0;
        }

        &.downend .mark {
            bottom:0
        }
    }

}

.Switch {

    cursor:pointer;

    .interface {
        pointer-events:none;
    }

    &.horizontal {
        width:4em;

    }

    &.vertical {

        height:4em;
    }



}