.Switch {

    display:inline-block;
    padding: 1vh 1vw;
    cursor:pointer;

    input {
        display:none;
    }

    &.horizontal {
        .Track {
            width:2em;
        }
    }

    &.vertical {
        .Track {
            height:2em;
        }
    }



}