.Field {
    display:inline-block;

    .interface {
        display:flex;
        position:relative;
        overflow:auto;
        max-width:100%;
        max-height:100%;
        transition:opacity .4s;
    }

    .Label, .inbox, .onbox {
        font-size:1em;
        font-family: sans-serif;
    }

    .Label {
        position:relative;
        transform-origin:0 0;
    }

    .inbox, .onbox {
        display:block;
        padding: 0;
        margin: 0;
        border:none;
        outline:none;
        background-color:transparent;
        overflow:hidden;
        resize:none;
        max-width:100%;
        max-height:100%;
    }

    input.inbox {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        transition: color .5s;
    }

    textarea.inbox {
        min-width:100%;
    }

    .onbox {
        visibility:hidden;
        opacity:0;
    } 

    .underline, .underline:before {
        position:relative;
        display:block;
        height:2px;
        width:100%;
        transition: .4s;
    }

    .underline {
        background-color:#eee;
    }

    .underline:before {
        content:"";
        background-color:rgba(0,0,0,.3);
    }

    .mark {
        position:absolute;
        top:0;
        left:0;
        height:100%;
        background-color:rgba(0,0,0,.3);
        transition: .4s;
    }

    &:not([data-flags~="lock"]) {
        .underline:before {
            width:100%;
        }
    }

    &[data-flags~="lock"] {
        .Label, .inbox {
            color:#999;
        }
    }

    &[data-flags~="full"] {
        .inbox {
            color:#666;
        }
    }

    &:not([data-flags~="focus"]) {
        .underline:before {
            width:0;
        }
    }

    &[data-flags~="focus"], &:not([data-flags~="blank"]) {
        .Label {
            transform: translateY(20%) scale(.7);
        }
    }

    &[data-flags~="blank"]:not([data-flags~="focus"]) {
        .interface {
            opacity:0;
        }

        .Label {
            transform: translateY(100%);
        }

        &:not([data-flags~="lock"]) {

            textarea, input {
                cursor:pointer;
            }

            &:hover {
                .Label {
                    transform: translateY(85%);
                }
            }

        }
    }

}
