.Pin {
    cursor:pointer;
    position:absolute;
    width:1em;
    height:1em;
    transform:translate(-50%, -50%);
    border-radius:.5em;
    transition:transform .2s, background-color .2s;

    &[data-flags~="readonly"] {
        background-color:#eee;
        border: 1px solid #444;
        pointer-events:none;
        transform:translate(-50%, -50%) scale(.9);
    }

    &:not([data-flags~="readonly"]) {
        background-color:#fff;
        border: 1px solid #222;
    }


    &[data-flags~="focus"] {
        transform:translate(-50%, -50%) scale(1.1);
    }

    &:not([data-flags~="focus"]) {
        transition: top .5s, left .5s, transform .2s;
        &:hover {
            transform:translate(-50%, -50%) scale(1.05);
        }
    }
}