.Field {
    display:inline-block;
    position:relative;

    .Label {
        display:block;
        position:relative;
        transform-origin:0 0;
        transition: transform .6s, font-size .6s;
    }


    .underline, .underline:before {
        position:relative;
        display:block;
        height:2px;
        width:100%;
        transition: .4s;
    }

    .underline {
        background-color:#eee;
    }

    .underline:before {
        content:"";
        background-color:rgba(0,0,0,.3);
    }

    .mark {
        position:absolute;
        top:0;
        left:0;
        height:100%;
        background-color:red;
        transition: .4s;
    }

    &.editable {
        cursor:pointer;
        .underline:before {
            width:100%;
        }
    }

    &.readonly {
        color:#999;
    }

    &.blur {
        .underline:before {
            width:0;
        }
    }


    &.blur, &.empty {
        .Label {
            transform: translateY(100%);
        }
    }
    
    &.full {
        .Label {
            transform: scale(.8);
            transition: transform .4s, font-size .4s;
        }
    }
    
    &.empty.focus, &.empty.blur.editable:hover {
        .Label {
            transform: translateY(85%);
            transition: transform .4s, font-size .4s;
        }
    }

    &.editable.blur.empty {
        textarea, input {
            cursor:pointer;
        }
    }


}
