.Field {
    display:inline-block;
    position:relative;

    .Label {
        display:block;
        position:relative;
        transform-origin:0 0;
        transition: transform .6s, font-size .6s;
    }

    .underline, .underline:after, .underline:before {
        height:1px;
        width:0;
        background-color:#999;
        transition: .4s;
    }

    .underline:after, .underline:before {
        content:"";
        display:block;
        position:absolute;
        background-color:#666;
    }

    .underline:before {
        z-index:-1;
        background-color:#eee;
    }

    &.editable {
        cursor:pointer;
        .underline:before {
            width:100%;
        }
    }

    &.readonly {
        color:#999;
    }

    &.focus {
        .underline:after {
            width:100%;
        }
    }

    &.blur, &.empty {
        .Label {
            transform: translateY(100%);
        }
    }
    
    &.full {
        .Label {
            transform: scale(.8);
            transition: transform .4s, font-size .4s;
        }
        .underline {
            width:100%;
        }
    }
    
    &.empty.focus, &.empty.blur.editable:hover {
        .Label {
            transform: translateY(85%);
            transition: transform .4s, font-size .4s;
        }
    }

    &.editable.blur.empty {
        textarea, input {
            cursor:pointer;
        }
    }


}
