.Range {
    display:inline-block;

    .interface {
        display:flex;
        box-sizing:border-box;
    }

    .track {
        position:relative;
    }

    &[data-flags~="lock"] {
        .Label {
            color:#999;
        }
    }

    &:not([data-flags~="lock"]):not([data-flags~="shifting"]) {
        .track {
            cursor:pointer;
        }
        .Bar > * {
            transition: width .2s, height .2s;
        }
    }

    &[data-flags~="marker"] {
        .pin { opacity:0; }
    }

    &:not([data-flags~="marker"]) {
       
        &:not([data-flags~="vertical"]) {
            .interface {
                padding: .2em .5em;
            }
    
            .track {
                height:.5em;
                width:5em;
            }
        }
    
        &[data-flags~="vertical"] {
    
            .interface {
                padding: .5em .2em;
            }
    
            .track {
                height:5em;
                width:.5em;
            }
        }

    }
}